body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    width: 320px;
    max-width: 90%;
}

button {
    width: 80%;
    padding: 5px;
    margin: 5px;
    background-color:black;
    color: white;
    cursor: pointer;
}

.button{
    width: 100px;
    background-color: black;
    cursor: pointer;
}